html,
body {
  height: 100%;
  margin: auto auto;
  padding: auto auto;
  text-align: center;
}

.main {
  display: inline-flex;
}

.player {
  margin: auto 50px;
  font-size: 2vw;
}

#board {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
}

#instructions {
  height: 5vh;
  background-color: white;
  padding: 0px;
  margin: 0px;
  text-align: center;
  border: 1px solid black;
}

#bottomBar {
  display: flex;
}

#bottomBar button {
  width: 50%;
  height: 40px;
  margin: 20px 10px;
  font-size: 1vw;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.grid {
  width: 125px;
  height: 125px;
  background-color: rgba(0, 242, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 13px;
  text-align: left;
}

.playable {
  background-color: rgb(155, 241, 118);
}

.lv1 {
  margin: auto;
  height: 50px;
  content: url('./assets/level1.svg');
}
.lv2 {
  margin: auto;
  height: 50px;
  content: url('./assets/level2.png');
}
.lv3 {
  margin: auto;
  height: 50px;
  content: url('./assets/level3.png');
}

.lv4 {
  margin: auto;
  margin-right: 0px;
  height: 66px;
  content: url('./assets/level4.jpeg');
}

.godCard {
  margin: 0px 10px;
}

.activePlayer {
  background-color: rgba(255, 98, 0, 0.8);
}

.substatus {
  margin: 14px auto;
}

.player-status {
  margin: auto 14px;
}

.highlightMove {
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite;
}

.highlightBuild {
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
